<html xmlns:th="http://www.h3.org/1999/xhtml" >
<body>
<a href="/"> Uus Registreerimine </a>
<a href="/results">Vaata registreeringuid</a>
<div>
    <form action ="/details" th:action="@{/details}" th:object="${dentistVisitDTO}" method="post">
        <h2> Teie Registreering</h2>
        <table>
            <tr>
                <td>
                    <p th:text="#{arsti.nimi}">arsti.nimi</p>
                </td>
                <td>
                    <select id="dentistName" name ="dentistName">
                    <option value=""> -- Valige hambaarst -- ></option>
                    <option value="James Raynor" th:field="*{dentistName}">James Raynor</option>
                    <option value="Sarah Kerrigan" th:field="*{dentistName}">Sarah Kerrigan</option>
                    <option value="Valerian Mengsk" th:field="*{dentistName}">Valerian Mengsk</option>
                    <option value="Alexei Stukov" th:field="*{dentistName}">Alexei Stukov</option>
                    </select>
                </td>
                <td th:if="${#fields.hasErrors('dentistName')}" th:errors="*{dentistName}">Nime viga</td>
            </tr>
            <tr>
                <td><p th:text="#{visiidi.kuupaev}">visiidi.kuupaev</p></td>
                <td><input type="datetime-local"
                           step = "3600"
                           name = "visitTime"
                           th:field="*{visitTime}"/></td>
                <td th:if="${#fields.hasErrors('visitTime')}" th:errors="*{visitTime}">Kuupäeva viga</td>
                <td th:if="${error}" th:text = "#{aeg.error}"> Aeg olemas </td>
                <td th:if="${exists}" th:text="#{bron.error}"> Broneering olemas </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>